name: Deploy
on:
  push:
    branches:
      - '**'
      - '!master'
      - '!main'
    tags:
      - v*
jobs:
  deploy:
    env:
      COMMIT_AUTHOR: ${{ github.event.head_commit.author.username }}
      COMMIT_AUTHOR_NAME: ${{ github.event.head_commit.author.name }}
      GIT_COMMIT_MSG: ${{ github.event.head_commit.message }}
      GITHUB_REPO: ${{ github.event.repository.name }}
      GITHUB_ORG_NAME: ${{ github.repository_owner }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GIT_BRANCH: ${GITHUB_REF#refs/*/}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: yarn install

      - name: Deploy Preview
        if: startsWith(github.ref, 'refs/tags') != true
        run: node ./scripts/deploy

      - name: Deploy Production
        if: startsWith(github.ref, 'refs/tags')
        run: node ./scripts/deploy
        env:
          DEPLOY_ENV: 'production'
