env:
  GH_REPO_NAME: ${{ github.event.repository.name }}
  GH_OWNER_NAME: ${{ github.event.repository.owner.login }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

name: Production deployment
on:
  push:
    tags:
      - v*
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: yarn install
      - name: Deploy
        run: PROD_RELEASE=1 node deploy
