name: preview deploy
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy
        id: deploy
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          script: node deploy
      - name: View context attributes
        uses: actions/github-script@v3
        with:
          script: console.log(context)
      - name: Comment on PR
        uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            console.log(steps, context.issue, context.repo)
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'nope'
            })
