name: preview deploy
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Deploy
        id: deploy-result
        # run: echo "::set-output name=msg::$(node deploy)"
        run: node deploy
      - uses: actions/github-script@v1
        with:
          script: |
            console.log('${{ steps.deploy-result.outputs.* }}')
      - name: Comment on PR
        uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: "${{ steps.deploy-result.outputs.message }}"
            })
