name: Preview deployment
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - run: yarn install

      - name: Deploy Preview Apps
        id: deploy-result
        run: node deploy
        # run: echo "::set-output name=msg::$(node deploy)"

      # - name: PR Comment
      #   uses: actions/github-script@v3
      #   with:
      #     github-token: ${{secrets.GITHUB_TOKEN}}
      #     script: |
      #       github.issues.createComment({
      #         issue_number: context.issue.number,
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         body: "${{ steps.deploy-result.outputs.msg }}"
      #       })
